.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.2rem 4rem;
    display: inline-block;
    border-radius: 2rem;
    transition: all 0.2s;
    position: relative;
    font-size: var(--default-font-size);

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-dark);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: var(--shadow-dark);
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);

    &:hover {
      background-color: var(--color-primary-light);
    }
  }

  &--secondary {
    background-color: var(--color-grey-light-3);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }
  &--logout {
    background-color: var(--color-grey-light-3);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-grey-light-2);
    }
    padding: 1rem 3rem;
    font-size: 1rem;
  }
}
