.responsive-table {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5rem;

  box-shadow: var(--shadow-light);

  //   th,td
  > :not(caption) > * > * {
    padding: 0.5rem;
    border: solid 1px var(--color-grey-light-4);
  }

  //   見出し行
  > thead > tr {
    background-color: var(--color-primary-dark);
    color: var(--color-grey-light-1);
    text-align: center;
  }

  // 偶数行
  > tbody > tr:nth-of-type(even) {
    background-color: var(--color-grey-light-1);
  }
  // ホバー
  > tbody > tr:hover {
    background-color: var(--color-grey-light-2);
  }
  &__img {
    height: 7rem;
  }
}
