.heading-primary {
  font-size: 3rem;
  color: var(--color-primary-dark);
  margin-bottom: 1rem;
}

.main {
  display: grid;
  // justify-self: unset;
  justify-items: center;
  &__button-box {
    grid-auto-flow: column;
  }
  overflow-x: scroll;
}
