.data-table {
  display: grid;

  &__pagination {
    // transform: translate(-50%, -50%);
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    // width: 800px;
    height: 5rem;
    background: #2c63ff;
    padding: 0px 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
    > ul {
      display: flex;
      text-align: center;
      list-style: none;
      > li {
        width: 4rem;
        font-size: 18px;
        height: 5rem;
        line-height: 5rem;
        color: #fff;
        cursor: pointer;
        &:hover,
        &.active {
          background: #1944bd;
        }
      }
    }
  }
}
